.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

td{
  position: relative;
  z-index: 2;
  width: 30px;
  height: 30px;
  border: 1px solid black;
}

.box{
  border: 1px solid black;
  background: violet;
  position: fixed;
  /* top: 0; */
  /* transform: translateY(70%) scale(0); */
  /* transition: transform 0.1s ease-in; */
  /* transform-origin: left; */
  /* display: inline; */
  /* background: white; */
  z-index: 20;
}

.open {
  animation: focus 1s;
  background: greenyellow;
  /* transform: translateY(300%) scale(1); */
  /* left: 50%;
  top: 50%; */
}

.App-link {
  color: #61dafb;
}

@keyframes focus {
  /* 0% {
    position: absolute;
    left: 0;
    top:0;
    width: 0;
    height: 0;
  }

  100%{
    
    position: fixed;
    left: 50%;
    top: 50%;
    width: 50%;
    height: 50%;
    /* transform: translate(-50% -50%); */
  /* } */ 

  0% { transform: translateY(100px); }
  100% { transform: translateY(200%); }
}
